In [15]:
import pandas as pd

df = pd.read_csv('materials/housing_cleaned.csv')

In [16]:
df.head()

,disaster,state,county,city,zip,valid_registrations,avg_inspected_damage,total_inspected,total_damage,no_inspected_damage,...,approved_for_assistance,total_approved_amt,repair_replace_amt,rental_amt,other_needs_amt,approved_1_10000,approved_10001_25000,approved_25001_max,total_max_grants,disaster_type
0,4341,FL,Big Cypress Indian Reservation,ALTAMONTE SPRINGS,32701,1,0.0,1,0,1,...,0,0,0,0,0,0,0,0,0,Hurricane
1,4341,FL,Big Cypress Indian Reservation,APOPKA,32712,1,0.0,1,0,1,...,0,0,0,0,0,0,0,0,0,Hurricane
2,4341,FL,Big Cypress Indian Reservation,AVENTURA,33180,1,0.0,1,0,1,...,0,0,0,0,0,0,0,0,0,Hurricane
3,4341,FL,Big Cypress Indian Reservation,AVON PARK,33825,1,0.0,1,0,1,...,0,0,0,0,0,0,0,0,0,Hurricane
4,4341,FL,Big Cypress Indian Reservation,BELL,32619,1,0.0,1,0,1,...,0,0,0,0,0,0,0,0,0,Hurricane

In [17]:
df.shape

(23091, 24)

In [18]:
df.isnull().sum().sum()

0

In [19]:
df.iloc[:, 5:].describe().iloc[[1, 7]].T

                                  mean          max
valid_registrations         139.937725      21161.0
avg_inspected_damage       2093.181873     178932.0
total_inspected              80.972673      15328.0
total_damage             298464.685592  189298510.0
no_inspected_damage          24.752501       5883.0
damage_1_10000               47.066693       8888.0
damage_10000_20000            5.186523       1897.0
damage_20000_30000            2.326881       2614.0
damage_30000_max              1.634923       2455.0
approved_for_assistance      51.912347       8189.0
total_approved_amt       202334.639860  102475361.0
repair_replace_amt       127628.252566   74130008.0
rental_amt                36654.808497   15849617.0
other_needs_amt           38051.386687   13350219.0
approved_1_10000             45.740635       7679.0
approved_10001_25000          4.694556       2098.0
approved_25001_max            1.477156       1768.0
total_max_grants              0.684899        789.0

In [20]:
states_dict = {'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California', 'CO': 'Colorado',
               'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 'ID': 'Idaho',
               'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana',
               'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi',
               'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 
               'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio',
               'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina',
               'SD': 'South Dakota', 'TN': 'Tennessee', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington',
               'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming', 'AS': 'American Samoa', 'GU': 'Guam',
               'MP': 'Northern Mariana Islands', 'PR': 'Puerto Rico', 'VI': 'U.S. Virgin Islands'}

In [22]:
# All states we have in this dataset
states = [states_dict.get(state) for state in states_dict.keys() if state in df['state'].value_counts().index]
states

['Alaska',
 'Colorado',
 'Florida',
 'Georgia',
 'Hawaii',
 'Illinois',
 'Indiana',
 'Kentucky',
 'Louisiana',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'North Carolina',
 'South Carolina',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wyoming',
 'American Samoa',
 'Northern Mariana Islands',
 'Puerto Rico',
 'U.S. Virgin Islands']